@media (max-width: 960px) {
    .carousel-box .slick-list {
        // height: 200px !important;
    }

    /* Đảm bảo ảnh giữ đúng tỷ lệ */
    .carousel-box .slick-list img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        /* hoặc contain tùy theo yêu cầu */
    }



    .carousel-overlay {
        display: hidden;
    }

    .carousel-overlay h5,
    .carousel-overlay h4 {
        display: hidden;

    }

    .carousel-overlay button {
        display: hidden;
    }

}

.carousel-overlay {
    text-align: left;
    /* Căn text về bên trái */
    width: 60% !important;
    /* Độ rộng vùng chứa nội dung */
}

.carousel-overlay h5,
.carousel-overlay h4 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-overlay button {
    font-weight: bold;
}


.carousel-box .slick-list {
    // height: 1000px !important;
}