.left-about {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -50px;
}

.about {
    margin-top: 200px !important;
}

.sketchfab-embed {
    width: 100vw;
    height: 100vh;
    border: none;
    /* Bỏ viền */
}


.serviceofus {
    background-image: url("/world.png");
    background-size: 700px;
    /* Kích thước mặc định */
    background-repeat: no-repeat;
    background-position: center right;
    /* Hình nền nằm ở giữa bên phải */
    background-color: #e8eeef;
    padding: 100px 0px;
}

@media (min-width: 2000px) {
    .serviceofus {
        background-size: 0px;
        /* Tăng kích thước hình nền cho màn hình lớn */
        background-position: 100% center;
        background-repeat: repeat;

        /* Dịch chuyển hình nền sang phải một chút, vẫn căn giữa theo chiều dọc */
        padding: 150px 0px;
        /* Tăng padding để không gian rộng rãi hơn */
    }
}



.left-about {
    animation: marquee-up 10s linear infinite;
}

/* styles.css hoặc file CSS của bạn */
.animation-paused {
    animation-play-state: paused;
}

.left-about:hover {
    animation-play-state: paused;
}

@layer utilities {
    @keyframes marquee-up {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-50%);
        }
    }
}

.about-flex {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    // align-items: center;
    align-content: center;
    box-sizing: border-box;
    margin-top: 50px;

}



.left-about .item-about {
    width: 300px !important;
    height: 200px;
    // padding: 5px 10px;
}

.title-right-box {
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    color: #007CF9;
    padding-left: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

}

.docthemgioithieu-btn {
    margin-left: 10px;
}

.right-about p.content-text {
    // font-family: 'Roboto Serif', serif;
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    text-align: justify;
    font-weight: 900;
    line-height: 2.4;
    font-size: 16px;
    color: #333;
    margin-bottom: 1rem;
    padding: 0 10px;
    font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
    font-style: italic;


    /* Điều chỉnh khoảng cách giữa các dòng */
}

.right-about {
    // padding: 10px;
    padding-bottom: 20px;

}

.left-about img {
    width: 100%;
    height: 100%;
}

// .sec-title p {
//     font-family: 'Roboto Serif', serif !important;

// }

.service-itemes {
    box-sizing: border-box !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}


.news-itemes {
    margin-bottom: 150px !important;
}

.sub-title {
    color: #333;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.title-box {
    color: #0196da;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);


}

// .news-item {
//     width: 100%;
//     height: 200px;


// }

// .news-item img {
//     width: 100%;
//     height: 100%;
// }

@media (max-width: 760px) {

    .left-about .item-about {
        width: 150px !important;
    }

    .right-about {
        padding: 0px 20px;
    }

    .left-about {

        margin-right: 0px !important;
    }



    .title-right-box {

        text-align: center;


    }

}


.custom-button {
    background-color: gold;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: darkgoldenrod;
    }
}



// calendar-slider -----------------