.scroll-section {
    width: 100%;
    overflow: hidden;
    z-index: 10;
    /* Đảm bảo component nằm trên cùng */
}

.items-container {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}

.scroll-item {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive */
@media (max-width: 768px) {
    .scroll-item {
        font-size: 0.8rem;
    }
}