.titlepage {
    color: #0196DA;
    padding: 20px;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    /* Sửa thành text-transform thay vì text-decoration */
    // text-shadow: -1px -1px -1px rgba(0, 0, 0, 0.557);


    /* styles.css */
    .my-anchor-icon {
        color: #0196DA;
        font-size: 32px;
        padding-right: 5px;
        transition: 0.3s;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.557);

    }

    .my-anchor-icon:hover {
        transform: scale(1.1);
    }

   

}



hr {
    border: 0.5px solid #0196DA;
    margin-bottom: 20px;
}


.hrbaiviet {

    border: none;
    color: rgb(47, 41, 41) !important;
    border-top: 1px solid #ccc !important;
    margin-bottom: 20px;

}